@media (max-width: 819px) {
  :host {
    display: block;
    width: 100%;
    float: left;
    clear: both; } }

#group-container {
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  top: 84px;
  right: 0px;
  width: calc(630px + 20px);
  padding: var(--ggutter) calc(var(--ggutter) * 2) calc(var(--ggutter) * 2);
  border-top: 84px solid var(--brand-grey-light);
  border-bottom: 2px solid var(--brand-grey-light);
  background: white; }

@media (min-width: 820px) and (max-width: 1299px) {
  #group-container {
    padding-top: var(--ggutter);
    border-top: 0px; } }

@media (min-width: 820px) and (max-width: 1129px) {
  #group-container {
    position: fixed;
    width: calc(100vw - 460px); } }
  @media (max-width: 819px) {
    #group-container {
      position: static;
      margin-top: 70px;
      padding: 0px 18px 18px 18px;
      border-top: 0px;
      width: 100%; } }
  #group-title {
    font-size: 3.6rem;
    line-height: 5.6rem;
    margin-left: var(--ggutter);
    color: var(--brand-grey-darkest); }
  @media (min-width: 820px) and (max-width: 1299px) {
    #group-title {
      font-size: 2.2rem; } }
    @media (max-width: 819px) {
      #group-title {
        font-size: 1.8rem;
        line-height: 55px; } }
  @media (max-width: 819px) {
    #group-container figure {
      position: relative; } }
  #group-container figure figcaption {
    display: flex;
    justify-content: flex-start;
    padding: 0px calc(var(--ggutter) * 2); }

@media (min-width: 820px) and (max-width: 1299px) {
  #group-container figure figcaption {
    padding: 0px; } }
    @media (max-width: 819px) {
      #group-container figure figcaption {
        width: 100%;
        padding: 0px; } }
    #group-container figure figcaption h3 {
      flex: 1 0 auto;
      padding: var(--ggutter); }
    #group-container figure figcaption .monitor-grid-select {
      flex: 0 1 auto;
      text-align: center;
      padding: var(--ggutter) 0px; }
      #group-container figure figcaption .monitor-grid-select details {
        position: relative; }
        @media (max-width: 819px) {
          #group-container figure figcaption .monitor-grid-select details {
            position: static; }
            #group-container figure figcaption .monitor-grid-select details.modal-overlay[open]::after {
              content: '';
              position: fixed;
              z-index: 1001;
              top: 0px;
              left: 0px;
              width: 100vw;
              height: 100vh;
              background: var(--brand-primary);
              opacity: .6; } }
        #group-container figure figcaption .monitor-grid-select details .details-content {
          position: absolute;
          z-index: 1010;
          left: calc(var(--ggutter) * -2);
          top: calc(var(--ggutter) * 2);
          width: 100%;
          min-width: 150px;
          box-sizing: border-box;
          padding: calc(var(--ggutter) * 2);
          border-radius: 3px;
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
          background: var(--brand-grey-light); }
          @media (max-width: 819px) {
            #group-container figure figcaption .monitor-grid-select details .details-content {
              position: fixed;
              left: 5vw;
              top: 125px;
              width: 90vw;
              padding: 18px 18px 36px 18px;
              text-align: center; } }
          #group-container figure figcaption .monitor-grid-select details .details-content legend {
            text-align: center; }
          #group-container figure figcaption .monitor-grid-select details .details-content button.close-btn {
            cursor: pointer;
            position: absolute;
            top: 12px;
            right: 12px;
            width: 36px;
            height: 36px;
            border-radius: 100%;
            background: var(--brand-grey-dim); }
          #group-container figure figcaption .monitor-grid-select details .details-content legend, #group-container figure figcaption .monitor-grid-select details .details-content button.close-btn {
            display: none; }
            @media (max-width: 819px) {
              #group-container figure figcaption .monitor-grid-select details .details-content legend, #group-container figure figcaption .monitor-grid-select details .details-content button.close-btn {
                display: block; } }
          @media (max-width: 819px) {
            #group-container figure figcaption .monitor-grid-select details .details-content > ol {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: flex-start; } }
          #group-container figure figcaption .monitor-grid-select details .details-content > ol > li {
            margin-top: calc(var(--ggutter) * 2); }
            #group-container figure figcaption .monitor-grid-select details .details-content > ol > li:first-child {
              margin-top: 0px; }
            @media (max-width: 819px) {
              #group-container figure figcaption .monitor-grid-select details .details-content > ol > li {
                flex: 1 1 50%;
                margin-top: 36px; }
                #group-container figure figcaption .monitor-grid-select details .details-content > ol > li:first-child {
                  margin-top: 36px; } }
            #group-container figure figcaption .monitor-grid-select details .details-content > ol > li label {
              cursor: pointer; }
              #group-container figure figcaption .monitor-grid-select details .details-content > ol > li label grid-icon {
                float: left; }
              #group-container figure figcaption .monitor-grid-select details .details-content > ol > li label input[type=radio] {
                display: none; }
                #group-container figure figcaption .monitor-grid-select details .details-content > ol > li label input[type=radio]:checked ~ span {
                  color: var(--brand-focus); }
              #group-container figure figcaption .monitor-grid-select details .details-content > ol > li label span {
                margin-left: calc(var(--ggutter) * 2); }
              @media (max-width: 819px) {
                #group-container figure figcaption .monitor-grid-select details .details-content > ol > li label {
                  display: flex;
                  justify-content: center; }
                  #group-container figure figcaption .monitor-grid-select details .details-content > ol > li label grid-icon {
                    flex: 0 0 auto;
                    float: none; }
                  #group-container figure figcaption .monitor-grid-select details .details-content > ol > li label span {
                    flex: 0 0 auto; } }
  #group-container figure .display-slots {
    display: grid;
    grid-gap: 1px;
    width: var(--cctv-thumb-width);
    height: var(--cctv-thumb-height);
    overflow: hidden; }

@media (min-width: 820px) and (max-width: 1129px) {
  #group-container figure .display-slots {
    width: 100%;
    --midWidth:calc(100vw - 460px - 32px - 32px);
    height: calc(var(--midWidth) / var(--cctv-thumb-ratio)); } }
    @media (max-width: 819px) {
      #group-container figure .display-slots {
        width: 100%;
        --smallWidth:calc(100vw - 18px - 18px);
        height: calc(var(--smallWidth) / var(--cctv-thumb-ratio)); } }
    #group-container figure .display-slots.grid-1up {
      grid-template: 100% / 100%; }
    #group-container figure .display-slots.grid-4up {
      grid-template: repeat(2, 50%)/repeat(2, 50%); }
    #group-container figure .display-slots.grid-9up {
      grid-template: repeat(3, var(--t))/repeat(3, var(--t)); }
    #group-container figure .display-slots.grid-16up {
      grid-template: repeat(4, 25%)/repeat(4, 25%); }
    #group-container figure .display-slots > li.active button img, #group-container figure .display-slots > li.active button div.empty-grid {
      box-sizing: border-box;
      border: 6px solid var(--brand-secondary);
      color: white; }
    #group-container figure .display-slots > li.active button div.empty-grid {
      background-color: var(--brand-focus); }
    #group-container figure .display-slots > li button {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer; }
      #group-container figure .display-slots > li button img, #group-container figure .display-slots > li button div.empty-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; }
      #group-container figure .display-slots > li button img {
        /*
                        background:url('/img/tumblr_pofbr8z2eY1sb5osho1_540.webp') no-repeat black;
                        background-size: 100% 100%;
                        */
        background: black;
        -o-object-fit: contain;
           object-fit: contain; }
      #group-container figure .display-slots > li button div.empty-grid {
        border-radius: 3px;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        background-color: var(--brand-grey-darkest); }
        #group-container figure .display-slots > li button div.empty-grid > span {
          flex: 0 0 auto;
          display: block !important;
          height: unset !important;
          width: unset !important; }
