@import '../../css/lib/include-media';    $breakpoints: (small:820px,between:1130px,mid:1300px);    //  @include media('<small'){    }

@include media('<small'){
    :host   {
        display:block;
        width:100%;
        float:left;
        clear:both;
    }
}

#group-container   {
    box-sizing: border-box;
    position:fixed;
    z-index:10;
    top:84px;
    right:0px;
    width:calc(630px + 20px);
    padding:var(--ggutter) calc(var(--ggutter) * 2) calc(var(--ggutter) * 2);
    border-top:84px solid var(--brand-grey-light);
    border-bottom:2px solid var(--brand-grey-light);
    background:white;

    @include media('>=small','<mid'){
        padding-top:var(--ggutter);
        border-top:0px;
    }

    @include media('>=small','<between'){
        position:fixed;
        width:calc(100vw - 460px);
    }

    @include media('<small'){
        position:static;
        margin-top:70px;
        padding:0px 18px 18px 18px;
        border-top:0px;
        width:100%;
    }

    @at-root #group-title    {
        font-size:3.6rem;
        line-height:5.6rem;
        margin-left:var(--ggutter);
        color:var(--brand-grey-darkest);

        @include media('>=small','<mid'){
            font-size:2.2rem;
        }

        @include media('<small'){
            font-size:1.8rem;
            line-height:55px;
        }
    }

    figure  {

        @include media('<small'){
            position:relative;
        }

        figcaption  {   // the display label and grid type picker
            display:flex;
            justify-content: flex-start;
            padding:0px calc(var(--ggutter) * 2);

            @include media('>=small','<mid'){
                padding:0px;
            }

            @include media('<small'){
                width:100%;
                padding:0px;
            }

            h3  {
                flex:1 0 auto;
                padding:var(--ggutter);
            }

            .monitor-grid-select    {
                flex:0 1 auto;
                text-align: center;
                padding:var(--ggutter) 0px;
                
                details {
                    position:relative;

                    @include media('<small'){
                        position:static;
                        &.modal-overlay[open]::after    {   // this is where the modal overlay magic happens
                            content:'';
                            position:fixed;
                            z-index:1001;
                            top:0px;
                            left:0px;
                            width:100vw;
                            height:100vh;
                            background:var(--brand-primary);
                            opacity:.6;
                        }
                    }

                    .details-content   {
                        position:absolute;
                        z-index:1010;
                        left:calc(var(--ggutter) * -2);
                        top:calc(var(--ggutter) * 2);
                        width:100%;
                        min-width:150px;
                        box-sizing: border-box;
                        padding:calc(var(--ggutter) * 2);
                        border-radius:3px;
                        box-shadow:0px 3px 6px 0px rgba(0,0,0,.16);
                        background:var(--brand-grey-light);

                        @include media('<small'){
                            position:fixed;
                            left:5vw;
                            top:125px;
                            width:90vw;
                            padding:18px 18px 36px 18px;
                            text-align:center;
                        }

                        legend  {
                            text-align:center;
                        }

                        button.close-btn    {
                            cursor:pointer;
                            position:absolute;
                            top:12px;
                            right:12px;
                            width:36px;
                            height:36px;
                            border-radius:100%;
                            background:var(--brand-grey-dim);
                        }

                        legend,button.close-btn {
                            display:none;
                            @include media('<small'){   display:block;  }
                        }

                        
                        &>ol{
                            @include media('<small'){
                                display:flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                align-items:flex-start;
                            }
                            &>li  {
                                margin-top:calc(var(--ggutter) * 2);
                                &:first-child   {   margin-top:0px; }
    
                                @include media('<small'){
                                    flex: 1 1 50%;
                                    margin-top:36px;
                                    &:first-child   {   margin-top:36px;    }
                                }
    
                                label    {
                                    cursor: pointer;
    
                                    grid-icon   {
                                        float:left;
                                    }
                                    input[type=radio]   {
                                        display:none;
    
                                        &:checked   {
                                            &~span  {
                                                color:var(--brand-focus);
                                            }
                                        }
                                    }
                                    span    {
                                        margin-left:calc(var(--ggutter) * 2);
                                    }
    
                                    @include media('<small'){
                                        display:flex;
                                        justify-content:center;
                                        grid-icon   {
                                            flex:0 0 auto;
                                            float:none;
                                        }
                                        span    {
                                            flex:0 0 auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .display-slots  {   // where the cameras are actually laid out on the screens
            display:grid;
            grid-gap:1px;
            width:var(--cctv-thumb-width);
            height:var(--cctv-thumb-height);
            overflow:hidden;

            @include media('>=small','<between'){
                width:100%;
                --midWidth:calc(100vw - 460px - 32px - 32px);   // 64px left and right padding
                height:calc(var(--midWidth) / var(--cctv-thumb-ratio));
            }

            @include media('<small'){
                width:100%;
                --smallWidth:calc(100vw - 18px - 18px); // 18px left and right padding
                height:calc(var(--smallWidth) / var(--cctv-thumb-ratio));
            }

            &.grid-1up  {   grid-template: 100% / 100%; }
            &.grid-4up  {   grid-template: repeat(2, 50%) / repeat(2, 50%); }
            &.grid-9up  {   grid-template: repeat(3, var(--t)) / repeat(3, var(--t));   }
            &.grid-16up {   grid-template: repeat(4, 25%) / repeat(4, 25%); }

            &>li  {
                &.active button    {
                    img, div.empty-grid    {
                        box-sizing: border-box;
                        border:6px solid var(--brand-secondary);
                        color:white;
                    }
                    div.empty-grid {   background-color:var(--brand-focus); }
                }
                button  {
                    display: block;
                    width:100%;
                    height:100%;
                    cursor: pointer;
                    img, div.empty-grid    {
                        display:flex;
                        justify-content:center;
                        align-items:center;
                        width:100%;
                        height:100%;
                    }
                    img {   // source letterboxing happens here
                        /*
                        background:url('/img/tumblr_pofbr8z2eY1sb5osho1_540.webp') no-repeat black;
                        background-size: 100% 100%;
                        */
                        background:black;
                        object-fit: contain;
                    }
                    div.empty-grid {   // for empty grid slots obvs
                        border-radius:3px;
                        font-size:2rem;
                        font-weight:bold;
                        text-align: center;
                        background-color:var(--brand-grey-darkest);
                        &>span  {
                            flex: 0 0 auto;
                            display:block !important;
                            height:unset !important;
                            width:unset !important;
                        }
                    }
                }
            }
        }
    }
}