nav {
  width: 100%;
  height: 100%; }

ul {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center; }

li.disabled {
  opacity: .35;
  pointer-events: none; }

li > button.bbuttonbase {
  display: block;
  width: 32px;
  height: 32px;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center center; }
  li > button.bbuttonbase#searchButton {
    width: unset;
    height: unset; }

#tableButton {
  background-image: url("/img/icon-table-fill.svg"); }

#mapButton {
  background-image: url("/img/icon-map-fill.svg"); }

#tableButton.active {
  background-image: url("/img/icon-monitor-fill.svg"); }

#mapButton.active {
  background-image: url("/img/icon-monitor-fill.svg"); }
