#sources-view-table {
  position: absolute;
  z-index: 1;
  top: calc(84px + 84px);
  left: 0px;
  width: calc(100vw - var(--sidebar-width));
  height: calc(100vh - 84px - 84px);
  overflow-x: hidden;
  overflow-y: auto; }

@media (min-width: 820px) and (max-width: 1129px) {
  #sources-view-table {
    width: 460px; } }
  @media (max-width: 819px) {
    #sources-view-table {
      position: static;
      top: unset;
      left: unset;
      width: 100%;
      height: unset;
      overflow-y: hidden; } }

ag-grid-polymer {
  width: 100%; }
  @media (max-width: 819px) {
    ag-grid-polymer {
      width: 100vw;
      overflow-x: hidden; } }

/*  hack apart the material theme   */
.ag-body-viewport.ag-layout-auto-height {
  overflow-x: hidden; }

.ag-theme-material .ag-row {
  cursor: pointer; }
  .ag-theme-material .ag-row.irisx-casted {
    background-color: var(--brand-focus-light); }
  .ag-theme-material .ag-row.irisx-active {
    color: white;
    background-color: var(--brand-focus); }

.ag-theme-material .ag-cell {
  outline: none !important; }

.ag-theme-material,
.ag-theme-material .ag-header {
  font: inherit;
  color: var(--brand-grey-dark); }

.ag-theme-material .ag-header-cell,
.ag-theme-material .ag-header-group-cell {
  line-height: 2.2rem; }

.ag-theme-material .ag-header-cell[col-id="status"] .ag-header-cell-label .ag-header-cell-text,
.ag-theme-material .ag-header-cell[col-id="id"] .ag-header-cell-label .ag-header-cell-text {
  width: 100%;
  text-align: center; }

.ag-theme-material .ag-header-cell-label {
  cursor: pointer;
  width: 100%; }

.ag-theme-material .ag-header-cell-label .ag-header-cell-text {
  padding: var(--ggutter) 0px;
  height: 2.2rem;
  font-weight: bold; }

.ag-icon.ag-icon-asc,
.ag-icon.ag-icon-desc {
  background-image: url("img/icon-caret-fill.svg");
  background-size: 15px 9px; }

.ag-icon.ag-icon-asc {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.ag-theme-material .ag-cell {
  padding: calc(var(--ggutter) * 2) var(--ggutter); }
  @media (max-width: 1299px) {
    .ag-theme-material .ag-cell {
      padding: var(--ggutter); } }

.list-icon {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0px auto; }
  .list-icon > span {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--brand-grey-dark);
    text-align: center; }
    .list-icon > span.casted {
      background-color: var(--brand-focus); }
    .list-icon > span.active, .list-icon > span.active.casted {
      background-color: var(--brand-secondary); }
    .list-icon > span > img {
      display: inline-block; }
  .list-icon > span::after {
    content: '';
    position: absolute;
    top: -4px;
    right: -4px;
    width: 18px;
    height: 18px;
    z-index: 100;
    border-radius: 9px; }
  .list-icon.status-PUBLISHED > span::after {
    background-color: #29FF85; }
  .list-icon.status-PUBLISHED_VIDEO_LOSS > span::after {
    background-color: #FFAE23; }
  .list-icon.status-UNPUBLISHED > span::after {
    background-color: #FF2357; }

/*  pagination  */
#pagination {
  visibility: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding-right: var(--ggutter);
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  color: var(--brand-grey-dark); }
  #pagination.show {
    visibility: visible; }
  #pagination nav button {
    margin-left: calc(var(--ggutter) / 2); }
    #pagination nav button[disabled] {
      opacity: .5; }
  #pagination details {
    position: relative; }
    #pagination details .details-content {
      position: absolute;
      z-index: 4;
      bottom: 3rem;
      left: 0px;
      width: 120px;
      box-sizing: border-box;
      padding: calc(var(--ggutter) * 2);
      border-radius: 3px;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      background: var(--brand-grey-light); }
      #pageSizeOptions li {
        margin-top: 1em;
        text-align: center; }
      #pageSizeOptions input[type=radio] {
        display: none; }
        #pageSizeOptions input[type=radio] ~ span {
          cursor: pointer; }
        #pageSizeOptions input[type=radio] :checked ~ span {
          font-weight: normal;
          cursor: auto; }

#lastPage > img {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1); }

@media (max-width: 1299px) {
  .ag-header-cell[col-id="status"] .ag-header-cell-label {
    visibility: hidden; } }

@media (max-width: 819px) {
  #sources-view-table {
    display: none; }
    #sources-view-table.mobile-show {
      display: block; }
  #pagination {
    display: block;
    position: relative; }
    #pagination > nav {
      box-sizing: border-box;
      width: 100%;
      height: 66px;
      padding: var(--ggutter); }
      #lastPage {
        float: left; }
      #nextPage {
        float: right; }
    #pagination > details {
      display: block;
      position: absolute;
      left: 80px;
      right: 80px;
      height: 66px;
      line-height: 66px;
      text-align: center; }
      #pagination > details .details-content {
        width: 100%; }
        #pageSizeOptions li {
          margin-top: .5em; } }
