:root {
      //  global stuff
    --t:calc(100% / 3); // instead of trying to fake it with 33.33%
    --ggutter: 16px;
      //  sidebar needs sizing
    --sidebar-width:650px;
    --cctv-thumb-w:586;
    --cctv-thumb-h:326;
    --cctv-thumb-width:calc(var(--cctv-thumb-w) * 1px);  //  unit conversation hax
    --cctv-thumb-height:calc(var(--cctv-thumb-h) * 1px);
    --cctv-thumb-ratio:calc(var(--cctv-thumb-w) / var(--cctv-thumb-h));
  }

html, body  {
    margin:0;
    padding:0;
    background-color: var(--page-background);

    font-family: "Montserrat", "montserrat", "Source Sans", "Helvetica Neue", "Helvetica", "Arial Black", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}