:host {
  font-size: 1.8rem;
  line-height: 2.2rem; }

input, button, select, select > option {
  font-family: inherit;
  font-size: inherit; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

a {
  text-decoration: inherit;
  color: inherit; }

details {
  list-style: none !important; }
  details > summary {
    cursor: pointer;
    list-style: none !important; }
  details::before,
  details .details-marker,
  details > summary::-webkit-details-marker,
  details > summary::before {
    display: none !important; }
  details > .details-content {
    z-index: 999; }
